<div class="col-md-12">

    <div class="col-md-6" style="padding:0;">
        <h5>From:</h5>
        <div class="col-md-6" style="padding:0; text-align:left;">
            <mat-form-field>
                <input matInput [matDatepicker]="pickerStart" placeholder="Choose Start Date">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="col-md-6" style="padding:0;">
        <h5>To:</h5>
        <div class="col-md-6" style="padding:0; text-align:left;">
            <mat-form-field>
                <input matInput [matDatepicker]="pickerEnd" placeholder="Choose End Date">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

</div>




<!--
<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Input & change events" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="pickerone"></mat-datepicker-toggle>
    <mat-datepicker #pickerone></mat-datepicker>
</mat-form-field>

<div class="example-events">
    <div *ngFor="let e of events">{{e}}</div>
</div> -->