.example-events {
    width: 400px;
    height: 200px;
    border: 1px solid #555;
    overflow: auto;
}

.md-datepicker-calendar-pane {
    z-index: 1200
}

.mat-datepicker-popup {
    z-index: 1200
}

::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
}