
<div style="padding:0.75rem; ">
    <div style="text-align:left; display:inline-block;">
        <h3 style=" display:inline-block;">Portfolio</h3>
    </div>

    <div style="display:flex; text-align:right; float:right; ">
    <style>
        .dropdown-toggle::after {
            display:none;
        }
    </style>        

        <!-- <div ngbDropdown #myDrop="ngbDropdown">
            <div id="dropdownManual" ngbDropdownToggle class="gridControl"> 
                <i class="fas fa-question"></i>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <label class="dropdown-item" *ngFor="let group of testFilter">
                    <label class="dropdown-item" *ngFor="let type of group.types">{{ type | filterOutString:'business value item' }}</label>
                </label>
                
                <button class="dropdown-item">Action - 1</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
            </div>
        </div> -->
            


        <ng-template #filterContent class="unicorn-dark-theme" >
            <mat-form-field class="whiteBack">
                <mat-select placeholder="Filter" [formControl]="filterControl" multiple> <!--  placeholder="Filter" -->
                    
                <!--
                    <mat-select-trigger>
                    {{filterControl.value ? filterControl.value[0] : ''}}
                    <span *ngIf="filterControl.value?.length > 1" class="example-additional-selection">
                        (+{{filterControl.value.length - 1}} others)
                    </span>
                    </mat-select-trigger>   
                -->
                   
                 
                    <mat-optgroup *ngFor="let group of filters" [label]="group.name" [disabled]="group.disabled">
                        <mat-option *ngFor="let type of group.types" [value]="type" (click)="addRemoveFilter(group.name, type);"> <!--  -->
                            {{ type | filterOutString:'business value item' }}
                        </mat-option>
                    </mat-optgroup>

                </mat-select>
            </mat-form-field>
        </ng-template>  <!-- #p="ngbPopover" (document:click)="p.close()" (click)="$event.stopPropagation()" -->
        <div class="gridControl" [ngbPopover]="filterContent"  container="body" placement="right"> <!-- closePopoverOnOutsideClick -->
            <i class="fas fa-filter"></i>
        </div>

        <div class="gridControl" > <!-- (click)="addBox();" -->
            <i class="fas fa-plus-circle"></i>
        </div>
        <div class="gridControl" > <!-- (click)="removeBox();" -->
            <i class="fas fa-minus-circle"></i>
        </div>  
        <div class="gridControl">
            <i class="far fa-minus-square"></i>
        </div>
        <div class="gridControl" > <!-- (click)="resizeBox(i);" -->
            <i class="fas fa-expand"></i>
        </div>
        <div class="gridControl" > <!-- (click)="removeBox(box.name);" -->
            <i class="far fa-window-close"></i>
        </div>
    </div>
</div>

<div class="forestHolder" style="padding:0; overflow-y:auto;">
    <div  [hidden]="readyToRender" style="overflow:hidden; height:100%; display:flex; flex-wrap: wrap; align-items:center; justify-content:center;">  <!-- -->
        <mat-progress-spinner  class="example-margin" [color]="color" [mode]="mode"></mat-progress-spinner>
        <div class="break"></div>
       <!--  <h4 style="color:white;">Fetching from Jira...</h4> -->
    </div>
    <forest-item [hidden]="!readyToRender" class="accordion" [tree]="filteredForest"></forest-item> 
</div>