

<div class="flex-container-left">

    <div style="display:inline-block;  vertical-align:bottom;">
        <h5 style="padding:0; margin:0; color:rgb(240,240,240);">Alerts</h5>
    </div>

    <div class="fa-lg" style="display:inline-block;">
        <span class="fa-layers fa-fw hoverHand" (click)="modalAdd.open()">
            <i class="far fa-plus-square" style="color:rgb(240,240,240);"></i>
        </span>
    </div>

    <bs-modal #modalAdd cssClass="modal-fifty">
        <bs-modal-header [showDismiss]="false">
            <h1 *ngIf="!isEditingAlert" class="modal-title">Add Alert</h1>
            <h1 *ngIf="isEditingAlert" class="modal-title">Edit Alert</h1>
        </bs-modal-header>

        <bs-modal-body>
            <div class="col-md-12 " style="margin-bottom:10%; ">

                <form style="height:90%; padding:0; margin:0;" class="form-horizontal">

                    <div class="wrapperDropdowns">

                        <div style="padding:0;">
                            <h2>From:</h2>
                            <div class="col-md-6" style="padding:0; text-align:left;">
                                <mat-form-field>
                                    <input [(ngModel)]="publishDate" name="publishDate" (dateChange)="dateInput('publishDate', $event.value)" matInput [matDatepicker]="pickerStart" placeholder="Choose Start Date">
                                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerStart></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div style="padding:0;">
                            <h2>To:</h2>
                            <div class="col-md-6" style="padding:0; text-align:left;">
                                <mat-form-field>
                                    <input [(ngModel)]="expiryDate" name="expiryDate" (dateChange)="dateInput('expiryDate', $event.value)" matInput [matDatepicker]="pickerEnd" placeholder="Choose End Date">
                                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerEnd></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div class="wrapperField">
                        <div>
                            <h5>Title</h5>
                        </div>
                        <div>
                            <input [(ngModel)]="title" name="title" class="form-control" type="text" value="title" id="example-text-input">
                        </div>
                        <div>
                            <h5>Message</h5>
                        </div>
                        <div>
                            <textarea [(ngModel)]="message" name="message" style="background-color:transparent; color:rgb(80,80,80); border:1px solid rgb(160,160,160);" rows="8" cols="50" type="text" class="form-control"></textarea>
                        </div>
                        <div>
                            <h5>Priority</h5>
                        </div>
                        <div class="priorityButtons">
                            <mat-radio-group class="btn-group" [(ngModel)]="priority" name="prio">

                                <label class="btn btn-success" [ngClass]="{ 'active': priority == '1'}" style="width:90px;"> 
                                    <mat-radio-button [value]="1">Low</mat-radio-button>
                                </label>

                                <label class="btn btn-warning" [ngClass]="{ 'active': priority == '2'}" style="width:90px; margin-left:20px;"> 
                                    <mat-radio-button [value]="2">Medium</mat-radio-button>
                                </label>

                                <label class="btn btn-danger" [ngClass]="{ 'active': priority == '3'}" style="width:90px; margin-left:20px;"> 
                                    <mat-radio-button [value]="3">High</mat-radio-button>
                                </label>

                            </mat-radio-group>
                        </div>

                    </div>

                </form>

            </div>
        </bs-modal-body>

        <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
            <div class="col-md-12" *ngIf="!isEditingAlert">
                <button type="submit" class="btn btn-primary" (click)="postAlert(); resetForm(); modalAdd.close();">Submit</button>
                <button type="button " class="btn btn-secondary" (click)="resetForm(); modalAdd.close();">Cancel</button>
            </div>
            <div class="col-md-12" *ngIf="isEditingAlert">
                <button type="submit" class="btn btn-danger" (click)="removeAlert(); isEditingAlert=false; resetForm(); modalAdd.close(); ">Delete</button>
                <button type="submit" class="btn btn-primary" (click)="postAlertChange(); isEditingAlert=false; resetForm(); modalAdd.close(); ">Submit</button>
                <button type="button" class="btn btn-secondary" (click)="isEditingAlert=false; resetForm(); modalAdd.close(); ">Cancel</button>
            </div>
        </bs-modal-footer>

    </bs-modal>

    <div class="fa-lg" style="display:inline-block;">
        <span class="fa-layers fa-fw hoverHand" (click)="modalInfo.open()">
            <i class="fas fa-info-circle"  style="color:rgb(240,240,240);"></i>
        </span>
    </div>

    <bs-modal #modalInfo cssClass="modal-seventy">
        <bs-modal-header [showDismiss]="false ">
            <h1 class="modal-title">Alerts</h1>
        </bs-modal-header>
        <bs-modal-body>
            <div class="col-md-12 " style="margin-bottom:10%; ">

                <h2>Synopsis:</h2>
                <p style="color:black; ">
                    This function can be seen as a notice-board and the purpose is to inform and high-light any news and these will be presented within the Flex Community. It is possible to write message/s in advance (Publish Date and Time) and decide when the message will
                    be dropped (Expiry Date and Time*).
                    <br><br> For details of the message, please hit the Title and the whole message will be presented. A rolling presentation of all published messages are offered and the time-window is set to 10 seconds. All alerts will be logged
                    and saved, so You are able to read expired messages.
                    <br><br> All messages do have an Information Owner* (resposible for the actual information), but also all messages do have a Publisher* (responsible for the actual creation and launch of the message).
                    <br><br>
                </p>

                <h2 style="color:black; ">
                    Please Note:
                </h2>


                <p style="color:black; ">
                    Use the Priority-button to steer the colour-setting (Green, Yellow or Red ) to signal the importance/ impact of the message.
                </p>

            </div>
        </bs-modal-body>
        <bs-modal-footer style="position:absolute;bottom:0;width:100%; ">
            <div class="col-md-9" style="text-align:left;">
                <p style="color:black; display:inline-block; margin-bottom:0;"><span style="font-weight:bold;">*</span> - Planned to be developed, but not yet implemented</p>
            </div>

            <div class="col-md-3">
                <button type="button" class="btn btn-close" (click)="modalInfo.close(); isEditingAlert=false; ">Close</button>
            </div>

        </bs-modal-footer>
    </bs-modal>
</div>







<div id="alertTextElement" class="flex-container-left" *ngIf="activeAlert?.message " style="margin:0;color:white; padding:0;">

    <div class="fa-lg" style="display:inline-block; ">
        <span class="fa-layers fa-fw hoverHand" (click)="isEditingAlert=true; logActive(); setAlertToActive(); modalAdd.open()">
            <i class="far fa-edit"></i>
        </span>
    </div>

    <div class="fa-lg" [ngClass]="'priority' + activeAlert.priority" style="display:inline-block;">
        <span class="fa-layers fa-fw">
            <i  class="fas fa-exclamation-triangle"></i>
        </span>
    </div>

    <div style="display: inline-block; vertical-align:bottom; ">
        <h5 style="margin:0; color:white;" class="hoverHand" (click)="isEditingAlert=true; modalInformation.open();">{{activeAlert.title | textLength: 100}}</h5>
    </div>

    <bs-modal #modalInformation cssClass="modal-fifty">

        <bs-modal-header [showDismiss]="false">
            <h1 class="modal-title ">Alert</h1>
        </bs-modal-header>

        <bs-modal-body>
            <div class="col-md-12" style="text-align:left;margin-bottom:10%;">

                <div class="wrapperField" style="margin-bottom:5rem;">
                    <div>
                        <h2>Title</h2>
                        <p>
                            {{activeAlert.title}}
                        </p>
                    </div>
                    <div>
                        <h2>Message</h2>
                        <p>
                            {{activeAlert.message}}
                        </p>
                    </div>
                </div>

            </div>
        </bs-modal-body>

        <bs-modal-footer style="position:absolute;bottom:0;width:100%; ">
            <div class="col-md-12 ">
                <button type="button" class="btn btn-close" (click)="modalInformation.close(); isEditingAlert=false; ">Close</button>
            </div>
        </bs-modal-footer>

    </bs-modal>
</div>



<div class="flex-container-left">
    <div id="alertTextExpiry" *ngIf="activeAlert?.message" style="margin:0;color:white; padding:0; vertical-align:bottom;">
        <h6 style="float: right; margin:0;">Expiry Date: {{activeAlert.expiryDate | dateFormatter: 'date'}}</h6>
    </div>
</div>
