
.treeInfoWrapper {
    display: grid!important;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1rem;
    justify-items: strecth;
    align-items: stretch;
}

.treeInfoWrapper>div {
    padding: 1rem;
}


.htmlTooltip[disabled] {
    pointer-events: none;
}

label {
    font-size: 1.5rem;
}
/* 
.tooltipForest {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    z-index: 200!important;
    opacity: 1!important;
    border: none!important;
}

.tooltipForest .tooltiptextForest {
    visibility: hidden;
    position: absolute;
    width: 300px;
    color: #FFFFFF;
    background: #000000;

    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    z-index: 1;
    margin-left: -150px;
}

.tooltipForest .tooltiptextForest::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;

    width: 0;
    height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    z-index: 200!important;
}

.tooltipForest:hover .tooltiptextForest {
    visibility: visible;
    opacity: 0.8;
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}
 */

.flex-container-center {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container-left {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container1fr70 {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid!important;
    grid-template-columns: 1fr 70%;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
    align-items: center;
    justify-content: center;
}
.containerOneFr {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid!important;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
    align-items: center;
    justify-content: center;
}
.containerTwoFr {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid!important;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
    align-items: flex-start;
    justify-content: center;
}

div.arrow {
    display:none!important;
}
.container701fr {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid!important;
    grid-template-columns: 70% 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
    justify-items: strecth;
    align-items: stretch;
    align-items: center;
    justify-content: center;
}


img.smallIcon {
    height: 1.6rem!important;
    width: 1.6rem!important;
}

.open {
    display: block!important;
}

.forestHolder * {
    margin: 0;
    padding: 0;
}



.popp label {
    font-size:1rem; 
    font-weight:200;
}
.popp label.formatted {
    white-space:pre-line; 
}
.issuelinks label{
    display:block;
}


a {
    text-decoration:none;
    color:inherit
}        
.fontSize {
    font-size: 1rem;
}
.imgSize {
    height: 1rem;
    width: 1rem;
}
.smallPadd {
    padding: 0.2rem;
    display:block!important;
    text-align:center;
}

.popp p {
    color: black;
}

