<div *ngFor="let item of tree; let i = index;" [ngClass]="{'accordion': i == 0 && item.levelId == 0}">
    <h1 *ngIf="item.levelId == 0">{{item.name}}</h1>
    <h2 *ngIf="item.levelId == 1">{{item.name}}</h2>
    <h3 *ngIf="item.levelId == 2">{{item.name}}</h3>
    <h4 *ngIf="item.levelId == 3">{{item.name}}</h4>
    <h5 *ngIf="item.levelId == 4">{{item.name}}</h5>

    <p *ngIf="!item.children">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam earum voluptatem distinctio vero autem est nesciunt dolorem eveniet vitae expedita? </p>

    <app-template *ngIf="item.children" [tree]="item.children"></app-template>
</div>


<!-- <div *ngFor="let item of tree; let i = index;" [ngClass]="{'accordion': i == 0}">
    <h1>News</h1>
    <div>
        <h2>News #1</h2>
        <p>Lorem ips.</p>
    </div>

    <h1>Updates</h1>
    <div>
        <h2>Update #1</h2>
        <p>Lorem ips.</p>
    </div>

    <h1>Miscellaneous</h1>
    <div>
        <h2>Misc. #1</h2>
        <p>Lor.</p>

        <h2>Misc. #2</h2>
        <p>Lore</p>

        <h2>Misc. #3</h2>
        <div>
            <h3>Misc. Item #1a</h3>
            <div>
                <h4>Misc. Subitem 1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </div>
            <h3>Misc. Item #2a</h3>
            <div>
                <h4>Misc. Subitem 1</h4>
                <p>Lore</p>
            </div>
        </div>
    </div>

</div> -->