
<div class="flexCenterRow sideContent" style="justify-content: space-between; padding:1rem;">
  
  <div>
    <h2 style="display: inline-block; margin:0;">User Settings</h2>
  </div>
  
  <div class="gridControl" (click)="closeSideMenu('side-menu-user');"><!--  playAnim();  -->
    <i class="fas fa-times"></i>
  </div>

</div>

<div style="padding:1rem;" class="sideContent">


  <h4>Admin Level</h4>
  <div class="flexCenterRow" style="margin-bottom: 1rem;">
    <input type="text" class="noBorder" value="Full Access">

    <div class="gridControl">
        <i class="far fa-check-circle"></i>
    </div>
  </div>

<!--   <h4>Projects Shown</h4>
  <div class="flexCenterRow" style="margin-bottom: 1rem;">
    <mat-form-field>
      <mat-select placeholder="Filter" [formControl]="filterControl" multiple>
          
          <mat-select-trigger>
              {{filterControl.value ? filterControl.value[0] : ''}}
              <span *ngIf="filterControl.value?.length > 1" class="example-additional-selection">
                  (+{{filterControl.value.length - 1}} others)
              </span>
          </mat-select-trigger>

          <mat-optgroup *ngFor="let group of filters" [label]="group.name" [disabled]="group.disabled">
              <mat-option *ngFor="let type of group.types" [value]="type" (click)="addRemoveFilter(group.name, type);"> 
                  {{ type }}
              </mat-option>
          </mat-optgroup>

      </mat-select>
    </mat-form-field>

    <div class="gridControl">
        <i class="far fa-check-circle"></i>
    </div>
  </div> -->
  

  <h4>Projects</h4>
  <div class="flexCenterRow" style="margin-bottom: 1rem;">
      <form class="example-container unicorn-dark-theme" style="width:80%;" [formGroup]="options">
          <mat-form-field  style="color:white; width:100%;" [hideRequiredMarker]="options.value.hideRequired" [floatLabel]="options.value.floatLabel">
            <mat-select [formControl]="filterControl" multiple required>
                <mat-select-trigger>
                    {{filterControl.value ? filterControl.value[0] : ''}}
                    <span *ngIf="filterControl.value?.length > 1" class="example-additional-selection">
                        (+{{filterControl.value.length - 1}} others)
                    </span>
                </mat-select-trigger>
      
              <mat-option>-- None --</mat-option>
              <mat-option value="CBM">CBM</mat-option>
              <mat-option value="MAC">MAC</mat-option>
              <mat-option value="MACCloud">MACCloud</mat-option>
              <mat-option value="MEM">MEM</mat-option>
              <mat-option value="MPP">MPP</mat-option>
            </mat-select>
            <mat-placeholder  style="color:white;">
              <mat-icon style="color:white;">
                <i class="fas fa-laptop"></i>
              </mat-icon>
              <i style="color:white;"> Shown in Dashboard</i>
            </mat-placeholder>
          </mat-form-field>
      </form>

      <div class="gridControl">
          <i class="far fa-check-circle"></i>
      </div>
  </div>

</div>



