/* För dropdownsen som kommer från angularMaterial */

/* @import '@angular/material/prebuilt-themes/indigo-pink.css'; */

/* Custom fonter */

@font-face {
    font-family: "Droid Sans Mono";
    font-style: normal;
    src: url("./assets/fonts/DroidSans.woff2");
}

@font-face {
    font-family: "Cardo";
    font-style: serif;
    src: url("./assets/fonts/Cardo-Bold.ttf");
}

@font-face {
    font-family: "Contrail One";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/ContrailOne-Regular.ttf");
}

@font-face {
    font-family: "Pathway Gothic One";
    font-style: sans-serif;
    font-weight: 400;
    src: url("./assets/fonts/PathwayGothicOne-Regular.ttf");
}


/*=============================
  default grid set up -> mobile first
===============================*/
:root {
    --gridScaleX: 1.4;
    --gridScaleY: 1.4;
    --colsPerRow: 100%;
    --general-icon-color: rgb(223, 209, 147);
    --search-icon-color: rgb(172, 207, 136);
    --user-icon-color: rgb(131, 206, 197);
}
 

body {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
}

app-root {
    display: grid;
    min-height: 100vh;
    min-width: 100%;
    grid-template-rows: 70px 1fr 40px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "content" "footer"
}

/*=============================
larger screens
===============================*/

@media only screen and (min-width:600px) {
    app-root {
        grid-template-columns: 65px 1fr;
        grid-template-areas: "header header" "sidebar  content" "footer  footer";
    }
    .aside {
        display: grid;
        justify-items: center;
        align-items: center;
    }
    /* show the icons */
    .aside i {
        display: block;
    }
    .main__header {
        grid-template-columns: 250px 1fr;
        grid-template-areas: "img dtls"
    }
}


/* ===============
Mobile: Phones
==================*/

@media screen and (max-width: 600px) {
    .sm--hide {
        display: none;
    }
    .sm-text-right {
        text-align: right;
    }
    .main__header {
        justify-items: center;
    }
    .main__header>.details {
        text-align: center;
    }
    .img>img {
        width: 150px
    }
    .main__body>div p {
        flex: 0 0 50%;
    }
}
.main {
    background-color: #2d2f2f;
    grid-area: content;
}
.header {
    background-color:#333;
    grid-area:header;
 
}
.footer {
    background-color: #111;
    grid-area: footer;
}

.aside {
    color: rgba(255, 255, 255, 0.8);
    background-color: #222;
    grid-area: sidebar;
}


/* hide the icons */

.aside i {
    display: none;
}

.sideMenuIcon {
    color: #ddd;
}
.sideMenuIcon span {
    opacity: 0;
}
.sideMenuIcon:hover span {
    transition: 0.5s;
    opacity: 1;
}
.sideMenuIcon.general:hover, .sideMenuIcon.general:hover span {
    transition:0.5s;
    color: var(--general-icon-color);
}
.sideMenuIcon.search:hover, .sideMenuIcon.search:hover span {
    transition:0.5s;
    color: var(--search-icon-color);
}

.sideMenuIcon.user:hover, .sideMenuIcon.user:hover span {
    transition:0.5s;
    color: var(--user-icon-color);
}

.extra {
    display: none;
    margin-top: 2px;
}
a {
    text-decoration: none;
}
a:hover .extra {
    display: inline-block;
}


/*
main
*/

img {
    max-width: 100%;
}

.main__header {
    display: grid;
    color: rgba(255, 255, 255, 0.9);
    grid-template-areas: "img" "dtls";
    margin-bottom: 10px;
    padding: 20px;
}

.main__header>.img {
    grid-area: img;
}

.main__header>.details {
    grid-area: dtls;
}

.main__body>div {
    padding: 8px;
    display: flex;
}

.main__body>div p {
    flex: 0 0 25%;
}


/*
clean ups.
*/

.details {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: #fff;
    padding-left: 50px;
}

.details div:nth-child(1) {
    margin-bottom: auto;
}

.details div:nth-child(2) {
    margin-top: 0;
}

.details div:nth-child(2) i.fa {
    font-size: 0.9em;
    padding: 0 0.7em;
    font-weight: 300;
}

.details div:nth-child(1) p:first-child {
    font-size: 1.8em;
    margin: 0 0 10px;
}

.details div:nth-child(1) p:not(:first-child) {
    font-size: 0.9em;
    margin: 2px 0;
}



.ps-content {
    height:100%!important;
}
.boxFr {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 15% 1fr;
    height:100%;
}

/* You can add global styles to this file, and also import other style files */

button {
    border-radius: 0.1rem!important;
} 

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'Pathway Gothic One', sans-serif;
}

p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif; 
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}
a {
    text-decoration: none;
}
.containerOneFr {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid!important; 
    grid-template-columns: 100%;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 0.1em;
    align-items: center;
    justify-content: center;
}

.containerHeader {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid!important; 
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    grid-gap: 0.1em;
    align-items: center;
    justify-content: center;
}



.container15Fr15 {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid!important; 
    grid-template-columns: 15% 1fr 15%;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 0.1em;
    align-items: center;
    justify-content: center;
}

.gridControl {
    display: inline-block;
    font-size: 1.2em;
    text-align:right;
    padding-left: 0.5rem;
}

.gridControl:hover {
    cursor: pointer;
}

.modal-fifty {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-fifty .modal-content {
    min-width: 50vw!important;
    /*     min-height: 50vh!important; */
    max-width: 50vw!important;
    max-height: none!important;
    /* transform: translateY(20%)!important; */
}



.modal.fade .modal-dialog {
    transform: translate(0, 0);
}

bs-modal {
    background-color: rgba(0, 0, 0, 0.5);
}
.modal.fade .modal-dialog {
    transform: translate(0, 0);
}


.flexCenterCol {
    display:flex; 
    align-items:center; 
    justify-items:center;
    flex-direction:column;
}
.flexColTop {
    display: flex; 
    justify-content:top; 
    align-content:center; 
    flex-direction:column;
}
.flexCenterRow {
    display:flex; 
    align-items:center; 
    justify-items:center;
    flex-direction:row;
}
.textPadding {
    text-align:center;
    display:inline-block; 
    padding: 0.1rem 0.4rem 0.1rem 0.4rem; 
    margin: 0 0.2rem 0 0.2rem;
}
.h5Padding {
    padding: .1rem .4rem .1rem .4rem; 
    margin-bottom:0; 
    display:inline-block; 
    margin-left:0.5rem;
}
.popoverHeader {
    padding:1rem; 
    display:block; 
    background:black; 
    color:white; 
    text-align:center;
}
.popoverBody {
    padding:1rem; 
    display:block; 
    background:white; 
    color:black;
}
.blackBack {
    background:black;
    color: white;
}
.whiteBack {
    background:white; 
    color:black;
}
/* FixVersion Colors */
.Released {
    background-color: white;
    box-shadow: inset 0 0 0 2px rgb(20, 137, 44);
    color: rgb(20, 137, 44);
    padding: 0.1rem 0.4rem 0.1rem 0.4rem; 
    margin: 0 0.2rem 0 0.2rem;
}

.Unreleased {
    background-color: white;
    box-shadow: inset 0 0 0 2px rgb(255, 211, 81);
    color: black;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem; 
    margin: 0 0.2rem 0 0.2rem;
}

.Archived {
    background-color: white;
    box-shadow: inset 0 0 0 2px #bbb;
    color: black;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem; 
    margin: 0 0.2rem 0 0.2rem;
}

/* STATUS COLORS */
.Done {
    background-color: rgb(20, 137, 44);
    color: white;
}

.New {
    background-color: rgb(74, 103, 133);
    color: white;
}

.In.Progress {
    background-color: rgb(255, 211, 81);
    color: black;
}

.Review {
    background-color: rgb(255, 211, 81);
    color: black;
}

.Closed {
    background-color: rgb(20, 137, 44);
    color: white;
}

.Approved {
    background-color: rgb(255, 211, 81);
    color: black;
}

.Resolved {
    background-color: rgb(20, 137, 44);
    color: white;
}

.Planning {
    background-color: rgb(74, 103, 133);
    color: white;
}


header-component {
    display: grid;
    grid-template-columns: 30% 1fr 20% 10%;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-rows: 100%;
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: center;
    /* margin-bottom: 1em; */
    /* vertically: start, end, center */
    max-height: 100%;
    height: 100%;
}

alert-component {
    display: grid;
    grid-template-columns: 10% 1fr 15%;
    grid-template-rows: 100%;
    grid-gap: 1em;
    justify-items: strecth;
    align-items: center;
    max-height: 100%;
    height: 100%;
}


bs-modal-header {
    text-align: center;
}

bs-modal-body {
    text-align: left;
}

.capitalize {
    text-transform:capitalize;
}
.formatted {
    white-space:pre-line; 
}
.flex-container-center {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container-left {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}




/* ///////////////////////// ACCORDION /////////////////////// */
.accordion :not(.modal-content) .treeLevel0 {
    padding: 15px 0px!important;
    background-color: rgb(40,40,40)!important;
    color: #1abc9c!important;
}

.accordion :not(.modal-content) .treeLevel0:hover {
    color: #4afcdc!important;
}



.accordion :not(.modal-content) .treeLevel0:not(:last-of-type) {
    border-bottom: 1px dotted #1abc9c;
}

/* fixa det här monstret sen!   - fixed med .notFirstLevel
.accordion :not(.modal-content) div:not(.flex-container-center):not(.flex-container-left):not(.popover-body):not(p),
.accordion :not(.modal-content):not(.flex-container-center):not(.popover-body) p:not(.flex-container-center):not(.flex-container-left):not(p) {
  display:none;
}
*/
.notFirstLevel {
    display: none;
}
.block {
    display:block;
}
.popover-body {
    padding:0;
}

.popover {
    z-index: 2;
   /*  position: fixed; */
} 

.centeredText {
    text-align: center;
}

.thickText {
    font-weight:600;
}
.accordion :not(.modal-content) .treeLevel1 {
    padding-left: 12%;
    background-color: #1abc9c;
    border-bottom: 1px solid rgb(43, 173, 147);
    color: #333;
}

.accordion :not(.modal-content) .treeLevel1:hover {
    background-color: #09ab8b;
}

.accordion :not(.modal-content) .treeLevel2 {
    padding-left: 19%;
    background-color: #1E2019;
    border-bottom: 1px solid rgb(56, 60, 47);
    color: #ddd;
}

.accordion :not(.modal-content) .treeLevel2:hover {
    background-color: rgb(52, 55, 43);
}

.accordion :not(.modal-content) .treeLevel3 {
    padding-left: 26%;
    background-color: #394032;
    color: #ddd;
}

.accordion :not(.modal-content) .treeLevel3:hover {
    background-color: #4e5744;
}

.accordion :not(.modal-content) .treeLevel4 {
    padding-left: 31%;
    background-color: #36413E;
    color: #ddd;
}

.accordion :not(.modal-content) .treeLevel4:hover {
    background-color: rgb(70, 84, 80);
}

.accordion :not(.modal-content) .treeLevel5 {
    padding-left: 36%;
    background-color: rgb(98, 119, 114);
    color: #ddd;
}

.accordion :not(.modal-content) .treeLevel5:hover {
    background-color: rgb(149, 184, 176);
}

/* .accordion :not(.modal-content) * p {
    padding-left: 35px;
    background-color: #ddd;
    color: #333;
    line-height: 1.3rem;
} */

div[class^='treeLevel']:not(.treeLevelundefined) {
    padding-right: 5px!important;
    display: grid;
    grid-template-columns: 10% 1fr;
    /* 10% 1fr 10%*/
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 0.2rem;
    padding-top: .2rem;
    padding-bottom: 0.2rem;
    /*   justify-items: strecth; */
    align-items: stretch;
}

 .treeLevelundefined {display:none;}

/* ///////////////////////// ACCORDION /////////////////////// */


.gridItemHeader {
   
    padding-right: 5px!important;
    display: grid!important;
    grid-template-columns: 80% 1fr;
    /* 10% 1fr 10%*/
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1rem;
   
    justify-items: flex-start;
    align-items: center;
    
}

.noMargin {
    margin:0;
}

.brightText {
    color:rgb(220,220,220);
}

.darkText {
    color:rgb(40,40, 40);
}
.boxShadow {
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
}

.mainContent  {
    display: grid!important;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr; 
 /*    grid-gap: 1rem;  */
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: "mainHeader" "mainItems";
}
.mainItems {
    padding: 0 1rem 1rem 1rem;
}
.fourSquares {
    max-height: 100%;
    height:100%;
    padding: 0;
    margin: 0;
    display: grid!important; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    /*  grid-gap: 1rem; */
    align-items: flex-start;
    justify-content: flex-start;
}
.fourSquares > div {
    padding:1rem;
}

.hoverHand:hover {
    cursor:pointer;
}

/* /////////////////// NAVBAR //////////////////// */

.navbar {
   /*  background: #333; */
    overflow: hidden;
    height: 63px;
}

.navbar a {
    float: left;
    display: block;
    color: #bbb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 1rem 0 1rem;
    border-top: 2px solid transparent;
}

.navbar ul {
    /*  padding: 8px 0 0 0; */
    list-style-type: none;
}

.navbar a:hover {
    /* background: #ddd; */
    background: transparent;
    color: #f2f2f2;
    border-color: rgb(35, 236, 216);
}

.navbar a.chosenNav {
    border-color: rgb(35, 236, 216);
    color: #fff;
}
.navbar-nav {
    flex-direction: row;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #111;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.sideContent {
    transition: 1s;
    opacity: 0.1;
}

.sideContent.active {
    transition: 1s;
    opacity: 1;
}

.side-nav a:hover {
    color: #fff;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

@media (max-width: 568px) {
    .navbar-nav {
        display: none;
    }
}

@media (min-width: 568px) {
    /* .open-slide {
        display: none;
    } */
}

.mat-optgroup-label {
    background: #333;
    color: #eee!important;
    font-weight:600!important;
    text-transform:uppercase;
}
.mat-option-multiple {
    padding-left: 2rem;
}


perfect-scrollbar>.ps.ps--scrolling-y>.ps__rail-y {
   background-color:transparent!important;
}


.popover {
    max-width: none;
    background-color: transparent;
    border: none;
}

.inlineBlock {
    display: inline-block;
}